{% extends "admin/base_site.html" %}
{% load static %}

{% block title %}Транспортная CRM - Администрирование{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/custom_admin.css' %}">
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script src="{% static 'admin/js/custom_admin.js' %}" defer></script>
{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">🚚 Транспортная CRM</a>
</h1>
{% endblock %}

{% block userlinks %}
    {{ block.super }}
{% endblock %}